body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 540px;
    line-height: 1.1;
    letter-spacing: -2.4px;
    margin-bottom: 65px;
}

.title-h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;
}

.title-h2 span {
    font-size: 16px;
    color: #1085e4;
    display: block;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 14px;
}

.title-40 {
    font-size: 40px;
    color: #192b59;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.1px;
}

.title-40 span {
    color: #1085e4;
    display: block;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}

.page-subscribe .title-h2 {
    color: #fff;
    margin: 0;
    margin-bottom: 27px;
}

.page-subscribe .title-h2 span {
    color: #00bffe;
    font-size: 14px;
    margin-bottom: 19px;
}

.page-software .title-h2 {
    max-width: 564px;
    margin: 30px 0 26px;
    letter-spacing: -1px;
}

.page-stat .title-h2, .page-screen .title-h2 {
    text-align: center;
    margin: 0 auto;
}

.page-stat .title-h2 {
    max-width: 500px;
}

.page-plan .title-40 {
    margin-bottom: 80px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 305px;
}

.logo {
    display: block;
    width: 181px;
    height: 49px; 
    background-image: url(../img/header/logo.png);
}

.nav {
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav>li {
    padding: 0 20px;
    letter-spacing: 2px;
}

.nav-item {
    color: #6e7ea9;
}

.screen-img {
    display: block;
    width: 895px;
    height: 740px;
    background: url(../img/header/header-img.png) no-repeat;
    position: absolute;
    top: 189px;
    right: 0;
}

.btn-primary {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    padding: 20px 40px;
    letter-spacing: 2.5px;
    border-radius: 30px;
    transition: .3s linear;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: transparent;
}

.btn-secondary {
    color: #7e8bae;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    border-radius: 30px;
    transition: .3s linear;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-free {
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
}

.btn-info {
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 16px 62px;
    border-radius: 30px;
    text-transform: uppercase;
    box-sizing: border-box;
    display: inline-block;
    transition: .3s linear;
}

.btn-info:hover {
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
    color: #fff;
}

.btn-active {
    padding: 16px 62px; 
    display: inline-block;
}

.btn-subscribe {
    padding: 17px 43px;
    letter-spacing: 4px;
}

.btn-group a + a {
    margin-left: 15px;
}

.list-company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 1110px;
    margin: 0 auto;
}

.list-company-item {
    display: block;
}

.company-one {
    flex-basis: 198px;
    height: 58px;
    background-image: url(../img/sponsors/token.png);
}

.company-two {
    flex-basis: 200px;
    height: 69px;
    background-image: url(../img/sponsors/magneto.png);
}

.company-three {
    flex-basis: 201px;
    height: 47px;
    background-image: url(../img/sponsors/boohoo.png);
}

.company-four {
    flex-basis: 200px;
    height: 69px;
    background-image: url(../img/sponsors/fractal.png);
}

.grid {
    display: grid;
    grid-template-areas: "a b c" "d b c" "d f g" "e f g" "e h h";
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1110px;
    margin: 0 auto;
    grid-gap: 35px;
}

.grid-title {
    grid-area: a;
    margin: 0;
    margin-bottom: 30px;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-6 {
    grid-area: g;
}

.grid-text {
    grid-area: h;
}

.grid-text p {
    margin-top: 0;
}

.grid-text p:last-child {
    color: #1085e4;
    font-size: 14px;
    margin: 0;
}

.grid-text span {
    color: #192b59;
    font-size: 16px;
    font-weight: 700;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
    font-weight: 800;
    text-transform: uppercase;
}

.grid-item {
    text-align: center;
    box-shadow: 0 8px 16px rgba(180, 181, 181, .2);
    padding: 40px 40px 69px;
    border-radius: 10px;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    margin-bottom: 18px;
}

.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}

.grid-icon {
    height: 92px;
}

.grid-icon-1 {
    background: url(../img/features/features-2.png) no-repeat center / 73px 79px;
}

.grid-icon-2 {
    background: url(../img/features/features-3.png) no-repeat center / 89px 85px;
}

.grid-icon-3 {
    background: url(../img/features/features-1.png) no-repeat center / 79px 82px;
}

.grid-icon-4 {
    background: url(../img/features/features-4.png) no-repeat center / 109px 92px;
}

.grid-icon-5 {
    background: url(../img/features/features-5.png) no-repeat center / 85px 90px;
}

.grid-icon-6 {
    background: url(../img/features/features-6.png) no-repeat center / 100px 87px;
}

.box-page-subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-info {
    flex-basis: 48.7%;
}

.page-subscribe p {
    max-width: 406px;
    font-size: 18px;
    line-height: 1.5;
    color: #dfe8ff;
    margin: 0;
    margin-bottom: 40px;
}

.form-email {
    position: relative;
}

.page-subscribe input {
    width: 100%;
    background-color: transparent;
    color: #b1c3ee;
    padding: 22px 210px 25px 39px;
    border: 2px solid #405eb2;
    border-radius: 35px;
    outline: none;
    box-sizing: border-box;
    line-height: 1.2;
}

.page-subscribe input::-webkit-input-placeholder {color: #b1c3ee; font-size: 14px;}
.page-subscribe input::-webkit-input-placeholder {color: #b1c3ee; font-size: 14px;}
.page-subscribe input::-moz-placeholder          {color: #b1c3ee; font-size: 14px;}
.page-subscribe input:-moz-placeholder           {color: #b1c3ee; font-size: 14px;}
.page-subscribe input:-ms-input-placeholder      {color: #b1c3ee; font-size: 14px;}

.form-email button {
    position: absolute;
    top: 10px;
    right: 11px;
    cursor: pointer;
    outline: none;
}

.page-software-flex {
    display: flex;
    justify-content: flex-end;
}

.page-software-flex>div {
    flex-basis: 54%;
}

.page-software-icon {
    width: 60px;
    height: 60px;
    box-shadow: 0 8px 16px rgba(16, 133, 228, .4);
    border-radius: 6px;
    background: #1085e4 url(../img/button/button-icon.png) no-repeat center;
    position: relative;
}

.page-software-icon::after {
    content: '';
    position: absolute;
    background: url(../img/button/element.png) no-repeat center;
    width: 20px;
    height: 20px;
    top: -15px;
    right: -29px;
}

.page-software-list {
    margin: 0;
    margin-top: 30px;
    padding-right: 47px;
    height: 323px;
    overflow: hidden;
    overflow-y: scroll;
}

.page-software-list::-webkit-scrollbar-thumb {
    background-color: #1085e4;
    border-radius: 2px;
}

.page-software-list::-webkit-scrollbar {
    background-color: #f3f6ff;
    border-radius: 2px;
    width: 4px;
}

.page-software-list dt {
    color: #5a6789;
    font-weight: 700;
    margin-bottom: 10px;
}

.page-software-list dd {
    font-size: 14px;
    line-height: 1.8;
    margin-left: 0;
    margin-bottom: 50px;
}

.page-software-list dd:last-child {
    margin-bottom: 0;
}

.list-stat {
    display: flex;
    justify-content: space-around; 
    list-style-type: none;
    margin-top: 76px;
}

.list-stat>li {
    color: #1085e4;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2.4px;
}

.list-stat>li>span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 20px;
    letter-spacing: 0;
}

.screen {
    margin-top: 36px;
    margin-bottom: -7px;
}

.box-price {
    display: flex;
    justify-content: space-between;
}

.box-price-item {
    flex-basis: 31.5%;
    background-color: #f5faff;
    padding: 67px 0 79px;
    position: relative;
}

.box-price-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 623px solid #edf4fb;
    border-left: 60px solid transparent;
}

.box-price-item.active::after {
    display: none;
}

.box-price-item h3 {
    color: #000958;
    font-size: 70px;
    line-height: 1;
    letter-spacing: -2px;
    margin: 0;
    margin-bottom: 14px;
}

.box-price-item.active h3 {
    color: #fff;
}

.box-price-item span {
    font-size: 20px;
}

.box-price-item p {
    color: #0084ff;
    font-size: 14px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 36px;
}

.box-price-item.active p {
    color: #fff;
}

.box-price-item>ul {
    margin-bottom: 45px;
    font-size: 14px;
}

.box-price-item>ul>li {
    margin-bottom: 14px;
}

.box-price-item>ul>li:last-child {
    margin-bottom: 0;
}

.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}

.box-price-item.active span:last-child {
    color: #7b8ab2;
}

.box-price-item:last-child span:last-child {
    color: #7b8ab2;
}

.box-price-item ul {
    list-style-type: none;
    padding-left: 0;
}

/* Page */

.page-header {
    padding: 53px 0 330px; 
    background: url(../img/header/header-bg.png) no-repeat center / cover;
    position: relative;
}

.page-company {
    padding: 106px 0 99px;
    background: #1085e4 url(../img/sponsors/sponsors-bg.png) no-repeat center / cover;
}

.page-grid {
    padding: 122px 0;
}

.page-subscribe {
    padding: 52px 0;
    background: rgba(10,32,144,1);
    background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}

.page-software {
    background: url(../img/features-2/features2-img.png) no-repeat left 81%, url(../img/features-2/features2-bg.png) no-repeat left -10%;
    padding: 128px 0 183px;
}

.page-stat, .page-screen {
    background-color: #edf6ff;
}

.page-stat {
    padding: 116px 0 96px;
}

.page-screen, .page-plan {
    text-align: center;
}

.page-screen {
    padding-top: 116px;
}

.page-plan {
    padding: 169px 0 120px;
}
